

## open equity module
financedatabase 

## spider module
chromedriver-autoinstaller
selenium
webdriver_manager
undetected_chromedriver

## data pull
yfinance
akshare

## AI module
git+https://github.com/wellzero/efinance.git

## factor repo
git+https://github.com:wellzero/factorlab.git

## akshare install
# git+git@github.com:akfamily/akshare.git

## misc module
cufflinks

openbb

ta

autots
torch
